<!--Login Page Starts-->
<div class="card text-center">
  <ngx-loading [show]="loading > 0"></ngx-loading>
  <div class="card-body">
    <div class="card-block">
      <h2 class="pt-4 text-bold-500" i18n>Reset password</h2>
      <h5 class="pb-4 text-bold-400 text-secondary" i18n="@@auth.reset_password.subtitle">Enter new password.</h5>
      <form novalidate="" [formGroup]="form" (ngSubmit)="onSubmit()" #f>

        <div class="form-group mb-4">
          <div class="col-md-12">
            <div class="position-relative has-icon-left">
              <input type="password" formControlName="password" class="form-control form-control-lg" name="password"
                     id="password" placeholder="Password" i18n-placeholder="@@Password" required>
              <app-control-messages [control]="form.controls['password']"></app-control-messages>
              <div class="form-control-position pt-1">
                <i class="fa fa-lock" style="font-size: 24px"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-4">
          <div class="col-md-12">
            <div class="position-relative has-icon-left">
              <input type="password" formControlName="passwordConfirmation" class="form-control form-control-lg" name="passwordConfirmation"
                     id="passwordConfirmation" placeholder="Confirm Password" i18n-placeholder="@@ConfirmPassword" required>
              <app-control-messages [control]="form.controls['passwordConfirmation']"></app-control-messages>
              <div class="form-control-position pt-1">
                <i class="fa fa-lock" style="font-size: 24px"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-raised btn-block btn-lg" i18n>Reset password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <button [routerLink]="['/login']" [preserveQueryParams]="true" type="button"
            class="btn btn-outline-primary btn-block btn-raised btn-lg" i18n>Back to log in
    </button>
  </div>
</div>
