<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate="" class="ng-untouched ng-pristine ng-invalid">
  <div class="form-group" *ngIf="form.get('old_password')">
    <label for="old_password">
      <ng-container i18n="@@user.old_password">Old Password</ng-container>
    </label>
    <div class="controls"><input id="old_password" type="password" formControlName="old_password"
                                 placeholder="Old Password" required=""
                                 class="form-control ng-untouched ng-pristine ng-invalid">
      <app-control-messages [control]="form.controls.old_password"></app-control-messages>
    </div>
  </div>
  <div class="form-group">
    <label for="new_password">
      <ng-container i18n="@@user.new_password">New Password</ng-container>
      <span class="asterisk">*</span>
    </label>
    <div class="controls"><input id="new_password" type="password" formControlName="new_password"
                                 placeholder="New Password" required=""
                                 class="form-control ng-untouched ng-pristine ng-invalid">
      <app-control-messages [control]="form.controls.new_password"></app-control-messages>
    </div>
  </div>
  <div class="form-group">
    <label for="confirm_password">
      <ng-container i18n="@@user.confirm_new_password">Retype New Password</ng-container>
      <span class="asterisk">*</span>
    </label>
    <div class="controls"><input id="confirm_password" type="password" formControlName="confirm_password"
                                 placeholder="New Password" required=""
                                 class="form-control ng-untouched ng-pristine ng-invalid">
      <app-control-messages [control]="form.controls.confirm_password"></app-control-messages>
      <small class="form-text text-muted danger" *ngIf="(form.controls.confirm_password.dirty || form.controls.confirm_password.touched) && form.hasError('same')">
        <ng-container i18n="@@validation.same_passwords">Passwords mismatch</ng-container>
      </small>

    </div>
  </div>
  <div class="form-group row">
    <div class="col-12 text-center">
      <button class="btn btn-raised btn-primary ml-1" type="submit" i18n="@@Save">Save</button>
      <button class="btn btn-outline-danger ml-1" type="button" i18n="@@Cancel" (click)="onCancel()">Cancel
      </button>
    </div>
  </div>
</form>
