<ngx-loading [show]="isLoading()"></ngx-loading>

<app-page-title [badge]="pagination ? (pagination.total || 0) : 0" title="Following" i18n-title="@@following"></app-page-title>

<div *ngIf="pagination" class="row justify-content-center">
  <div *ngFor="let user of pagination.data | paginate: pagination.paginate()" class="col-xl-4 col-lg-6 col-md-9"
       style="max-width: 450px;">

    <app-user-preview
      [user]="user"
      [isCurrentUser]="user.id === currentUser.id"
      [isFollowee]="isFollowee(user.id)"
      [isFollower]="isFollower(user.id)"
      (follow)="follow(user.id)"
      (unfollow)="unfollow(user.id)"
    ></app-user-preview>
  </div>
</div>

<div *ngIf="pagination && pagination.data && !pagination.data.length" class="row justify-content-center mt-3">
  <h3 class="text-muted" i18n="@@not_found">Not found</h3>
</div>

<div class="row mt-5 mb-0" *ngIf="pagination && pagination.last_page > 1">
  <div class="col-12 d-flex justify-content-center">
    <pagination-controls (pageChange)="goToPage($event)" previousLabel="" nextLabel=""></pagination-controls>
  </div>
</div>
