<!--Login Page Starts-->
<ngx-loading [show]="loading > 0"></ngx-loading>
<div class="card">
  <div class="card-content text-center">
    <img class="card-img-top img-fluid" src="assets/img/working-place.jpg">
    <div class="card-header">
      <img src="assets/img/logo.png"/>
    </div>
    <div class="card-body">
      <div class="card-block">
        Tool to create reading report. Tool to make your reading more efficient.
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button (click)="login('google')" class="btn btn-social btn-google">
      <span class="fab fa-google"></span> Sign in with Google
    </button>
    &nbsp;&nbsp;&nbsp;
    <button (click)="login('google')" class="btn btn-social btn-facebook">
      <span class="fab fa-facebook"></span> Sign in with Facebook

    </button>
  </div>
</div>
