<div class="row">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-9" style="max-width: 600px;">

        <app-user-profile *ngIf="user"
                          [user]="user"
                          [isCurrentUser]="currentUser.id === user.id"
                          [isFollowee]="isFollowee(user.id)"
                          [isFollower]="isFollower(user.id)"
        ></app-user-profile>

      </div>
      <div class="col-xl-4 col-lg-6 col-md-9" style="max-width: 600px;">

        <app-user-reports *ngIf="user"
                          [user]="user"
        ></app-user-reports>

      </div>
    </div>
  </div>
</div>
