.profile-image-wrapper {
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.counter {
  text-align: center;
}
.counter .number {
  margin-bottom: 0;
}
.counter .title {
  color: #aeb3b8;
  margin: 0;
  padding: 0;
}

.bio {
  white-space: pre-wrap;
}
