<ngx-loading [show]="isLoading()"></ngx-loading>
<div class="card">
  <div class="card-body" *ngIf="user">
    <div class="card-block profile-image-wrapper">
      <ngx-avatar [name]="user.name || user.email"
                  [textSizeRatio]="2"
                  [size]="100"
                  [src]="user.avatarLink"
                  class="mr-2 font-medium-3">
      </ngx-avatar>
    </div>

    <div class="card-block text-center">
      <h3>{{user.name}}</h3>
      <p class="text-muted">
        <ng-container i18n="@@user.member_since">Member since</ng-container>
        &nbsp;
        {{user.created_at.format('Do MMM YYYY')}}
      </p>

      <p *ngIf="isCurrentUser else followBlock">
        <span class="badge badge-success" i18n="@@it_is_you">It's you</span>
      </p>
      <ng-template #followBlock>
        <button *ngIf="!isFollowee" class="btn btn-sm btn-outline-info m-0" (click)="follow.emit(user.id)">
          <ng-container *ngIf="!isFollower" i18n="@@actions.follow">Follow</ng-container>
          <ng-container *ngIf="isFollower" i18n="@@actions.follow_back">Follow back</ng-container>
        </button>
        <button *ngIf="isFollowee" class="btn btn-sm btn-outline-warning m-0" (click)="unfollow.emit(user.id)">
          <ng-container i18n="@@actions.unfollow">Unfollow</ng-container>
        </button>
      </ng-template>

    </div>

    <div class="line-divider mt-0 pt-0"></div>

    <div class="card-block d-flex justify-content-around">
      <div class="counter">
        <h4 class="number">{{user.followers_count}}</h4>
        <div class="title" i18n="@@followers">Followers</div>
      </div>
      <div class="counter">
        <h4 class="number">{{user.readBooksCount}}</h4>
        <div class="title" i18n="@@profile.read_books">Read books</div>
      </div>
    </div>

    <div class="line-divider mt-0 pt-0"></div>

    <div class="card-block">
      <p class="bio">
        {{user.bio}}
      </p>
    </div>
  </div>
</div>
