<div class="card">
  <ngx-loading [show]="isLoading()"></ngx-loading>
  <div class="card-content">
    <div class="card-body">
      <div class="card-block">
        <div class="row">
          <div class="col-12 mb-2">
            <div class="d-sm-flex justify-content-between align-items-center mb-2">
              <div class="d-flex">
                <ngx-avatar
                  [src]="feed.authorImage"
                  [name]="feed.author_name"
                  [textSizeRatio]="2"
                  [size]="50"
                  class="mr-2 font-medium-3">
                </ngx-avatar>
                <div class="align-self-center">
                  <h6 class="m-0 text-bold-500">{{feed.author_name}}</h6>
                  <small class="text-muted font-small-2">{{ feed.userDate }}</small>
                </div>
              </div>
              <div class="text-muted mt-2 mt-sm-0">
                {{ feed.userType }}
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="feed.isReportPublishedType()">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="mb-0 title-inline">{{feed.title}}</h3>
                <p class="grey font-medium-2 m-0 mb-2 title-inline">{{feed.data.book_author_name}}</p>
              </div>
              <h2>{{feed.data.rating}}&nbsp;<i class="fa fa-star text-warning"></i></h2>
            </div>

            <div class="feed media">
              <div class="mr-3">
                <div style="width: 150px; height: calc(150px * (5/3));">
                  <img
                    src="{{feed.image}}"
                    alt="feed image"
                    class="avatar rounded"
                    style="object-fit: cover;width: 100%;height: 100%">
                </div>
                <div class="d-flex mt-2 justify-content-center">
                  <button [routerLink]="['/reading-report/published/' + feed.data.user_book_id]"
                          class="mb-0 btn btn btn-outline-primary btn-sm" i18n-title="@@actions.go_to_report" title="Go to Report">
                    <i class="far fa-eye"></i>
                  </button>
                  <button (click)="addToFavorites()" class="mb-0 btn btn-outline-warning btn-sm ml-2" *ngIf="!feed.is_favorite" title="Add to favorites" i18n-title="@@actions.add_to_favorites">
                    <i class="far fa-star"></i>
                  </button>
                  <button (click)="removeFromFavorites()" class="mb-0 btn btn-outline-warning btn-sm ml-2" *ngIf="feed.is_favorite" title="Remove from favorites" i18n-title="@@actions.remove_from_favorites">
                    <i class="fas fa-star"></i>
                  </button>
                </div>
              </div>

              <div class="media-body">
                <p>
                  <app-read-more maxLength="600"
                                 [text]="(feed.data.resume || feed.data.book_description)"></app-read-more>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
